.navbar-nav {
  width: 100%;
  justify-content: space-between;

  .nav-link {
    color: #c7c2c2 !important;
  }

  a {
    text-decoration: none;
    padding: 0 !important;
    color: #c7c2c2;
  }

  .dropdown {
    a {
      color: black;
    }
  }

  .dropdown-menu {
    padding: 10px 20px;
  }
}

.show > .btn-primary.dropdown-toggle:focus{
  box-shadow: none!important;
  border: none;
  outline: none;
}