.row {
  margin-top: 10px;
}

.Card {
  align-items: center;
  height: 470px;
  margin-top: 0 !important;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;

  .badge {
    position: absolute;
    top: 10px;
    right: -22px;
  }
}

.Card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.CardImg {
  margin-top: 25px;
}

.genre {
  color: #0aaee4;
  font-size: 14px;
}

.card-subtitle {
  text-align: center;
}

.card-title {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-around;

  button {
    width: 30px;
    height: 30px;
    border: none;
  }
}

.add {
  background: url("img/ActiveViewedButton.png") no-repeat;
  background-size: contain;
}

.add:disabled {
  background: url("img/InActiveViewedButton.png") no-repeat;
  background-size: contain;
}

.check {
  background: url("img/ActivePlannedButton.png") no-repeat;
  background-size: contain;
}

.check:disabled {
  background: url("img/InActivePlannedButton.png") no-repeat !important;
  background-size: contain !important;
}

.col-md-2 {
  margin-bottom: 30px;
  margin-top: 0 !important;
}

.popupbox-wrapper {
  .background-image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 600px;
  }
}
